/*Mixin 1 */
#imagenFondo {
  display: grid;
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: auto; }

#imagenNosotros {
  display: grid;
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: auto; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Red Rose', cursive; }

/* NAVBAR INICIAL*/
.navbar {
  background-color: #211497;
  text-decoration: none; }
  .navbar li {
    transition: all .5s; }
    .navbar li:hover {
      background-color: #311ddf; }

.navbar-brand {
  text-decoration: none;
  color: white; }

#navbar1 {
  color: white; }
  #navbar1 .nav-link {
    color: white;
    margin: 10px; }

/*h2 de todas los html */
.tituloPagina {
  padding: 10px;
  margin: 10px; }

/* IMAGEN PRINCIPAL INDEX*/
#imagenFondo {
  background-image: url(../recursos/todaslasmarcas.jpeg);
  grid-template-areas: "titulo" "texto";
  grid-template-columns: auto;
  grid-template-rows: auto;
  color: white; }
  #imagenFondo #titulo {
    grid-area: titulo;
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px; }
  #imagenFondo #texto {
    grid-area: texto;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: -80px;
    padding: 50px; }

.cajas, .caja, .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

/* CAJAS DE INCIO DESCUENTOS*/
.caja {
  background-color: white;
  justify-content: center;
  text-align: center;
  align-items: center; }
  .caja .cajaCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px; }
    .caja .cajaCard .cajaCard__imagen {
      width: 100%;
      height: 50%;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      transition: all .7s; }
    .caja .cajaCard .cajaCard__texto {
      text-align: center;
      font-size: 1rem;
      text-align: center; }
    .caja .cajaCard .boton {
      padding: 13px 30px;
      border-radius: 15px;
      border: none;
      background: #211497;
      color: white; }
      .caja .cajaCard .boton:hover {
        background-color: #3a27e4; }

/* NOSOTROS*/
#imagenNosotros {
  background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
  grid-template-areas: "titulo" " texto";
  grid-template-columns: auto;
  grid-template-rows: auto;
  color: white; }
  #imagenNosotros #titulo {
    grid-area: titulo;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 160px; }
  #imagenNosotros #texto {
    grid-area: texto;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
    padding: 50px; }

.contenedor {
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  background-color: white; }
  .contenedor .card {
    width: 330px;
    height: 416px;
    padding: 60px 30px;
    margin: 20px;
    background-color: #6048eb;
    border-radius: 20px; }
    .contenedor .card .contenido {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .contenedor .card .contenido .contenidoImagen {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        position: relative;
        margin-bottom: 20px;
        overflow: hidden; }
        .contenedor .card .contenido .contenidoImagen img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .contenedor .card .contenido .contenidoTexto h4 {
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px; }
      .contenedor .card .contenido .contenidoTexto h5 {
        color: #b0b1b4;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center; }
      .contenedor .card .contenido .contenidoLinks {
        margin-top: 20px; }
        .contenedor .card .contenido .contenidoLinks a {
          text-decoration: none;
          color: white;
          font-size: 30px;
          margin: 10px; }

/* AYUDA*/
.acordionTam {
  padding: 10px; }
  .acordionTam .accordion {
    padding: 20px;
    margin: 10px;
    align-items: center; }
    .acordionTam .accordion .accordion-item {
      background-color: #232364; }
      .acordionTam .accordion .accordion-item .accordion-button {
        background-color: #383894;
        color: white;
        padding: 10px 10px;
        margin: 20px 20px; }
      .acordionTam .accordion .accordion-item .accordion-body {
        color: white;
        font-size: 20px; }
        .acordionTam .accordion .accordion-item .accordion-body .accordionTexto2 {
          text-align: left;
          font-style: italic;
          font-size: 1rem; }

/*CONTACTO*/
.content {
  width: 100%;
  height: 800px;
  padding: 20px; }
  .content .contact-wrapper > * {
    padding: 1em; }
  .content .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    /* CONTACTO FORM */
    /* CONTACTO INFO */ }
    .content .contact-wrapper .contact-form {
      background: #6048eb; }
      .content .contact-wrapper .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .content .contact-wrapper .contact-form form p {
          margin: 0;
          padding: 1em; }
          .content .contact-wrapper .contact-form form p label {
            display: block;
            color: #000000; }
        .content .contact-wrapper .contact-form form button {
          width: 100%;
          padding: 1em;
          border: 0;
          background: #211497;
          outline: 0;
          color: #fff;
          text-transform: uppercase; }
          .content .contact-wrapper .contact-form form button:hover {
            background: #3a27e4;
            color: #fff;
            transition: background-color 1s ease-out;
            outline: 0; }
          .content .contact-wrapper .contact-form form button:focus {
            background: #3a27e4;
            color: #fff;
            transition: background-color 1s ease-out;
            outline: 0; }
        .content .contact-wrapper .contact-form form input {
          width: 100%;
          padding: .7em;
          border: none;
          background: none;
          outline: 0;
          color: #fff;
          border-bottom: 1px solid #000000; }
        .content .contact-wrapper .contact-form form textarea {
          width: 100%;
          padding: .7em;
          border: none;
          background: none;
          outline: 0;
          color: #fff;
          border-bottom: 1px solid #000000; }
    .content .contact-wrapper .contact-info {
      background: #000; }
      .content .contact-wrapper .contact-info h4 {
        text-align: center;
        margin: 0 0 1rem 0;
        color: white; }
      .content .contact-wrapper .contact-info ul {
        text-align: center;
        margin: 0 0 1rem 0;
        color: white;
        list-style: none; }
      .content .contact-wrapper .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0;
        color: white; }

.contact-form form .block {
  grid-column: 1 / 3; }

/*contacto pagina principal*/
.cont {
  width: 100%;
  background-color: white;
  padding: 20px 30px 20px 30px; }
  .cont .contcard {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    background-color: #6048eb; }
    .cont .contcard .contenidocard {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .cont .contcard .contenidocard span {
        color: #fff;
        text-align: center;
        font-size: 1.5rem; }
      .cont .contcard .contenidocard p {
        color: #bdbdbd; }

/*NOT FOUND*/
.notfound {
  background-color: #F7F7F7;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  .notfound .notfoundTitulo {
    color: black;
    font-size: 20px;
    padding: 20px;
    font-size: 1.5rem; }
  .notfound .notfoundboton {
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: #211497;
    color: white; }
    .notfound .notfoundboton:hover {
      background-color: #3a27e4; }
  .notfound .notfoundImagen {
    width: 40%;
    padding: 20px; }

/* FOOTER GENERAL*/
.footer {
  width: 100%;
  background-color: #211497; }
  .footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .footer .grupo1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer .grupo1 .box figure h1 {
        font-size: 3rem;
        text-decoration: none;
        color: white; }
    .footer .grupo1 .box h2 {
      color: white;
      margin-bottom: 25px;
      font-size: 1.5rem; }
    .footer .grupo1 .box p {
      color: #e6dbdb;
      margin-bottom: 10px;
      text-decoration: none; }
    .footer .grupo1 .box a {
      text-decoration: none; }
      .footer .grupo1 .box a p:hover {
        color: #6e6e6e; }
    .footer .grupo1 .red-social a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: white;
      margin-right: 10px;
      text-align: center; }
  .footer .derechos {
    background-color: #3a27e4;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 15px; }

/* MEDIA QUERIES */
@media (max-width: 480px) {
  /* IMAGEN PRINCIPAL INDEX MAX 480PX */
  #imagenFondo {
    background-image: url(../recursos/todaslasmarcas.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: grid;
    grid-template-areas: "titulo" "texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: white;
    margin: auto; }
    #imagenFondo #titulo {
      grid-area: titulo;
      font-size: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 50px; }
    #imagenFondo #texto {
      grid-area: texto;
      font-size: 15px;
      justify-content: center;
      text-align: center;
      margin-top: -50px; }
  /*NOSOTROS MAX 480PX */
  #imagenNosotros {
    background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: grid;
    grid-template-areas: "titulo" "texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: white;
    margin: auto; }
    #imagenNosotros #titulo {
      grid-area: titulo;
      font-size: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 50px; }
    #imagenNosotros #texto {
      grid-area: texto;
      font-size: 15px;
      justify-content: center;
      text-align: center;
      margin-top: -50px; }
  /*CAJAS DE PRODUCTOS MAX 480PX*/
  .cajaCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: white;
    overflow: hidden; }
    .cajaCard .cajaCard__imagen {
      width: 100%;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      padding: 0 0 30px 0;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }
      .cajaCard .cajaCard__imagen:hover {
        transform: scale(1.3); }
    .cajaCard .cajaCard__texto {
      text-align: center;
      font-size: 0.5rem; }
    .cajaCard h4 {
      padding-top: 10px;
      font-size: 1.5rem; } }

@media (max-width: 767px) {
  /* IMAGEN PRINCIPAL INDEX MAX 767PX */
  #imagenFondo {
    background-image: url(../recursos/todaslasmarcas.jpeg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: grid;
    grid-template-areas: "titulo" "texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: white;
    margin: auto; }
    #imagenFondo #titulo {
      grid-area: titulo;
      font-size: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 140px; }
    #imagenFondo #texto {
      grid-area: texto;
      font-size: 15px;
      justify-content: center;
      text-align: center;
      margin-top: -60px; }
  /*NOSOTROS MAX 767PX */
  #imagenNosotros {
    background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: grid;
    grid-template-areas: "titulo" "texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: white;
    margin: auto; }
    #imagenNosotros #titulo {
      grid-area: titulo;
      font-size: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 140px; }
    #imagenNosotros #texto {
      grid-area: texto;
      font-size: 15px;
      justify-content: center;
      text-align: center;
      margin-top: -60px; }
  /*CAJAS DE PRODUCTOS MAX 767PX*/
  .cajaCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: white;
    overflow: hidden; }
    .cajaCard .cajaCard__imagen {
      width: 100%;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      padding: 0 0 30px 0;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }
      .cajaCard .cajaCard__imagen:hover {
        transform: scale(1.3); }
    .cajaCard .cajaCard__texto {
      text-align: center;
      font-size: 0.5rem; }
    .cajaCard h4 {
      padding-top: 10px;
      font-size: 1.5rem; }
  /*FOOTER*/
  .footer .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  /*contacto card*/
  .cont .contcard {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

@media (max-width: 1079px) {
  /*cajas de productos MAX 1080*/
  .cajaCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    height: 500px;
    width: 400px;
    text-align: center;
    background-color: white;
    overflow: hidden; }
    .cajaCard .cajaCard__imagen {
      width: 100%;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      padding: 0 0 30px 0;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }
      .cajaCard .cajaCard__imagen:hover {
        transform: scale(1.3); }
    .cajaCard .cajaCard__texto {
      text-align: center;
      font-size: 1rem; }
    .cajaCard h4 {
      padding-top: 10px;
      font-size: 1.5rem; } }

@media (min-width: 1080px) {
  .cajaCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    height: 550px;
    width: 500px;
    text-align: center;
    background-color: white;
    overflow: hidden; }
    .cajaCard .cajaCard__imagen {
      width: 100%;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      padding: 0 0 30px 0;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }
      .cajaCard .cajaCard__imagen:hover {
        transform: scale(1.3); }
    .cajaCard .cajaCard__texto {
      text-align: center;
      font-size: 15px; }
    .cajaCard h4 {
      padding-top: 10px; }
  /*CONTACTO*/
  .content .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2em; } }

@media (min-width: 1440px) {
  .contenedor .card {
    width: 420px;
    height: 506px;
    padding: 60px 30px;
    margin: 20px;
    background-color: #6048eb;
    border-radius: 20px; }
    .contenedor .card .contenido .contenidoImagen {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      position: relative;
      margin-bottom: 20px;
      overflow: hidden; } }
