*{
    padding: 0;
    margin: 0;
    font-family: 'Red Rose', cursive;
}
                    /* NAVBAR INICIAL*/

.navbar{
    background-color: rgb(33, 20, 151);
    text-decoration: none;
    
}
.navbar li{
    transition: all .5s;
}
.navbar li:hover{
    background-color: rgb(49, 29, 223);
    padding: 1px;
    margin: 1px;
}
.navbar-brand{
    text-decoration: none;
    color: white;
}
#navbar1{
    color: white;

}
#navbar1 .nav-link {
    color: white;
    margin: 10px;
}
                    /* IMAGEN PRINCIPAL INDEX*/

#imagenFondo{
    background-image: url(../recursos/todas\ las\ marcas.jpeg);
    background-size: cover;
    background-position: center;
    height: 700px;
    display: grid;
    grid-template-areas:    
    "titulo"
    "texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    
    color: white;
    margin: auto;

}
#imagenFondo #titulo {
    grid-area: titulo;
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}
#imagenFondo #texto {
    grid-area: texto;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}





                    /* CAJAS DE INCIO DESCUENTOS*/
.caja{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgb(179, 179, 179);
    margin: 15 auto;
    padding: 15 auto;

    
    
}

.cajaCard{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    height: 500px;
    width: 500px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    transition: all .7s;

}

.cajaCard__imagen{
    display: block;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}
.cajaCard__texto{
    text-align: center;
    font-size: 15px;
}

                    /* NOSOTROS*/

#imagenNosotros{
    background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    display: grid;
    grid-template-areas:    
    "titulo"
    " texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: white;
    margin: auto;

}
#imagenNosotros #titulo {
    grid-area: titulo;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 160px;

}
#imagenNosotros #texto {
    grid-area: texto;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
}
/* cuadros con imagen NOSOTROS
#nosotros{
    display: grid;
    height: 700px;
    grid-template-areas: 
    "cuadrotxt1 cuadrotxt2 cuadrotxt3"
    "cuadroimg1 cuadroimg2 cuadroimg3";
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    background-color: aqua;
}
#nosotros #cuadrotxt1 {
    grid-area: cuadrotxt1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}
#nosotros #cuadrotxt2 {
    grid-area: cuadrotxt2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    
}
#nosotros #cuadrotxt3 {
    grid-area: cuadrotxt3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    
}
#nosotros #cuadroimg1 {
    grid-area: cuadroimg1;
    display: block;
    height: 300px;
    width: 400px;
    margin: 0 auto;
}
#nosotros #cuadroimg2 {
    grid-area: cuadroimg3;
    display: block;
    height: 300px;
    width: 400px;
    margin: 0 auto;
}
#nosotros #cuadroimg3 {
    grid-area: cuadroimg3;
    display: block;
    height: 300px;
    width: 400px;
    margin: 0 auto;
}
*/
                    /* AYUDA*/
.ayuda{
    background-color: rgb(56, 56, 148);
    color: white;
}
.ayuda__titulo{
    font-size: 20px;
    background-color: rgb(116, 116, 223);

}
.ayuda__parrafo{
    font-size: 16px;

}





                    /* FOOTER GENERAL*/

.footer{
    background-color:  rgb(33, 20, 151);
    color: white;
    height: 200px;
    text-align: center;
}

                    /* MEDIA QUERIES */

@media (max-width: 767px) {
    /* IMAGEN PRINCIPAL INDEX MAX 767PX */
    #imagenFondo{
        background-image: url(../recursos/todas\ las\ marcas.jpeg);
        background-size: cover;
        background-position: center;
        height: 500px;
        display: grid;
        grid-template-areas:    
        "titulo"
        "texto";
        grid-template-columns: auto;
        grid-template-rows: auto;
        
        color: white;
        margin: auto;
    
    }
    #imagenFondo #titulo {
        grid-area: titulo;
        font-size: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 140px;
    }
    #imagenFondo #texto {
        grid-area: texto;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        margin-top: -60px;
    }
    
    /*NOSOTROS MAX 767PX */
    
    #imagenNosotros{
        background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
        background-size: cover;
        background-position: center;
        height: 500px;
        display: grid;
        grid-template-areas:    
        "titulo"
        "texto";
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: white;
        margin: auto;
    
    }
    #imagenNosotros #titulo {
        grid-area: titulo;
        font-size: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 140px;
    }
    #imagenNosotros #texto {
        grid-area: texto;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        margin-top: -60px;
    }
    
    /*cajas de productos MAX 767PX*/
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: 300px;
        width: 300px;
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    .cajaCard:hover{
        height: 400px;
        width: 400px;
    }
    
    .cajaCard__imagen{
        display: block;
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }
    .cajaCard__texto{
        text-align: center;
        font-size: 15px;
    }

    

}
@media (max-width: 480px) {
    /* IMAGEN PRINCIPAL INDEX MAX 480PX */
    #imagenFondo{
        background-image: url(../recursos/todas\ las\ marcas.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        display: grid;
        grid-template-areas:    
        "titulo"
        "texto";
        grid-template-columns: auto;
        grid-template-rows: auto;
        
        color: white;
        margin: auto;
    
    }
    #imagenFondo #titulo {
        grid-area: titulo;
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    #imagenFondo #texto {
        grid-area: texto;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        margin-top: -50px;
    }
    
    /*NOSOTROS MAX 480PX */
    
    #imagenNosotros{
        background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        display: grid;
        grid-template-areas:    
        "titulo"
        "texto";
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: white;
        margin: auto;
    
    }
    #imagenNosotros #titulo {
        grid-area: titulo;
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    #imagenNosotros #texto {
        grid-area: texto;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        margin-top: -50px;
    }
    
    /*cajas de productos MAX 480PX*/
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: 300px;
        width: 300px;
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    .cajaCard:hover{
        height: 400px;
        width: 400px;
    }
    
    .cajaCard__imagen{
        display: block;
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }
    .cajaCard__texto{
        text-align: center;
        font-size: 15px;
    }

}
@media (max-width: 1080px) {
    /*cajas de productos MAX 1080*/
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: 450px;
        width: 450px;
        text-align: center;
        background-color: rgb(255, 255, 255);
    
    }
    .cajaCard:hover{
        height: 470px;
        width: 470px;
    }
    
    
    .cajaCard__imagen{
        display: block;
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }
    
    .cajaCard__texto{
        text-align: center;
        font-size: 15px;
    }
}
@media (min-width: 1080px) {
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: 500px;
        width: 500px;
        text-align: center;
        background-color: rgb(255, 255, 255);
    
    }
    .cajaCard:hover{
        height: 520px;
        width: 520px;
    }

}

