@import "variables";
@import "mixings";

*{
    padding: 0;
    margin: 0;
    font-family: 'Red Rose', cursive;
}

/* NAVBAR INICIAL*/
.navbar{
    background-color: map-get($estilos, color);
    text-decoration: map-get($estilos, textDeco);
    li{
        transition: all .5s;
        &:hover{
            background-color: rgb(49, 29, 223);
        }
    }
}
.navbar-brand{
    text-decoration: map-get($estilos, textDeco);
    color: $color-textos; 
}
#navbar1{
    color: $color-textos;
    .nav-link{
        color: $color-textos;
        margin: 10px;
    }
}
/*h2 de todas los html */
.tituloPagina{
    padding: 10px;
    margin: 10px;
}

/* IMAGEN PRINCIPAL INDEX*/
#imagenFondo{
    background-image: url(../recursos/todaslasmarcas.jpeg);
    grid-template-areas:    
    "titulo"
    "texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: $color-textos;
    
    #titulo{
        grid-area: titulo;
        font-size: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: map-get($estilos, centro);
        justify-content: map-get($estilos, centro);
        text-align: map-get($estilos, centro);
        margin-top: 200px;
    }
    #texto{
        grid-area: texto;
        font-size: 30px;
        justify-content: center;
        text-align: center;
        margin-top: -80px;
        padding: 50px;
    }
    
}
//para extend// en caja y contenedor
.cajas{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
/* CAJAS DE INCIO DESCUENTOS*/
.caja{
    @extend .cajas;
    background-color: rgb(255, 255, 255);
    justify-content: map-get($estilos, centro);
    text-align: map-get($estilos, centro);
    align-items: map-get($estilos, centro);
    
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        text-align: map-get($estilos, centro);
        background-color: $color-textos;
        border-radius: 1rem;
        border-style: solid;
        border-width: 1px;
        .cajaCard__imagen{
            width: 100%;
            height: 50%;
            margin: 0 auto;
            object-fit: cover;
            object-position: map-get($estilos, centro);
            transition: all .7s;
            
        }
        .cajaCard__texto{
            text-align: map-get($estilos, centro);
            font-size: 1rem;
            text-align: center;
            
            
        }
        .boton{
            padding: 13px 30px;
            border-radius: 15px;
            border: none;
            background: map-get($estilos, color);
            color: white;
            &:hover{
                background-color: rgb(58, 39, 228);
            }
        }
    }
}
/* NOSOTROS*/
#imagenNosotros{
    background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
    grid-template-areas:    
    "titulo"
    " texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: $color-textos;
    
    #titulo{
        grid-area: titulo;
        font-size: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: map-get($estilos, centro);
        justify-content: map-get($estilos, centro);
        text-align: map-get($estilos, centro);
        margin-top: 160px;
    }
    #texto{
        grid-area: texto;
        font-size: 30px;
        justify-content: map-get($estilos, centro);
        text-align: map-get($estilos, centro);
        margin-top: -50px;
        padding: 50px;
    }
}
.contenedor{
    @extend .cajas;
    justify-content: map-get($estilos, centro);
    text-align: map-get($estilos, centro);
    align-items: map-get($estilos, centro);
    min-height: 80vh;
    width: 100%;
    background-color:$color-textos ;
    .card{
        width: 330px;
        height: 416px;
        padding: 60px 30px;
        margin: 20px;
        background-color: rgb(96, 72, 235);
        border-radius: 20px;
        .contenido{
            display: flex;
            justify-content: map-get($estilos, centro);
            align-items: map-get($estilos, centro);
            flex-direction: column;
            .contenidoImagen{
                width: 180px;
                height: 180px;
                border-radius: 50%;
                position: relative;
                margin-bottom: 20px;
                overflow: hidden;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .contenidoTexto {
                h4{
                    color: $color-textos;
                    font-size: 1.7rem;
                    font-weight: bold;
                    text-align: map-get($estilos, centro);
                    letter-spacing: 1px;
                }
                h5{
                    color: #b0b1b4;
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: map-get($estilos, centro);
                }
            }
            .contenidoLinks{
                margin-top: 20px;
                a{
                    text-decoration: map-get($estilos, textDeco);
                    color: $color-textos;
                    font-size: 30px;
                    margin: 10px;
                }
            }
            
        }
    }
}
/* AYUDA*/
.acordionTam{
    padding: 10px;
    .accordion{
        padding: 20px;
        margin: 10px;
        align-items: map-get($estilos, centro);
        .accordion-item{
            background-color: rgb(35, 35, 100);
            .accordion-button{
                background-color: rgb(56, 56, 148);
                color: $color-textos;
                padding: 10px 10px;
                margin: 20px 20px;
            }
            .accordion-body{
                color: $color-textos;
                font-size: 20px;
                .accordionTexto2{
                    text-align: left;
                    font-style: italic;
                    font-size: 1rem;
                }
            }
            
        }
    }
}

/*CONTACTO*/

.content{
    width: 100%;
    height: 800px;
    padding: 20px;
    .contact-wrapper > * {
        padding: 1em;
    }
    .contact-wrapper {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
        /* CONTACTO FORM */
        .contact-form {
            background: rgb(96, 72, 235);
            
            form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                p {
                    margin: 0;
                    padding: 1em;
                    label {
                        display: block;
                        color: #000000;
                    }
                }
                button{
                    width: 100%;
                    padding: 1em;
                    border: 0;
                    background: map-get($estilos, color);
                    outline: 0;
                    color: #fff;
                    text-transform: uppercase;
                    &:hover{
                        background: rgb(58, 39, 228);
                        color: #fff;
                        transition: background-color 1s ease-out;
                        outline: 0;
                    }
                    &:focus{
                        background: rgb(58, 39, 228);
                        color: #fff;
                        transition: background-color 1s ease-out;
                        outline: 0;
                    }
                    
                }
                input{
                    width: 100%;
                    padding: .7em;
                    border: none;
                    background: none;
                    outline: 0;
                    color: #fff;
                    border-bottom: 1px solid #000000;
                }
                textarea{
                    width: 100%;
                    padding: .7em;
                    border: none;
                    background: none;
                    outline: 0;
                    color: #fff;
                    border-bottom: 1px solid #000000 ;
                }
                
            }
        }
        /* CONTACTO INFO */
        .contact-info {
            background: #000;
            h4{
                text-align: center;
                margin: 0 0 1rem 0;
                color: $color-textos;
            }
            ul{
                text-align: center;
                margin: 0 0 1rem 0;
                color: $color-textos;
                list-style: none;
            }
            p{
                text-align: center;
                margin: 0 0 1rem 0;
                color: $color-textos;
            }
        }
    }
}
.contact-form form .block {
    grid-column: 1 / 3;
}
/*contacto pagina principal*/
.cont{
    width: 100%;
    background-color: white;
    padding: 20px 30px 20px 30px;
    
    .contcard{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        background-color: rgb(96, 72, 235);
        .contenidocard{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: map-get($estilos, centro);
            align-items: map-get($estilos, centro);
            span{
                color: #fff;
                text-align: center;
                font-size: 1.5rem;
            }
            p{
                color: rgb(189, 189, 189);
            }
        }
    }
}

/*NOT FOUND*/
.notfound{
    background-color: #F7F7F7;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .notfoundTitulo{
        color: rgb(0, 0, 0);
        font-size: 20px;
        padding: 20px;
        font-size: 1.5rem;
    }
    .notfoundboton{
        padding: 13px 30px;
        border-radius: 15px;
        border: none;
        background: map-get($estilos, color);
        color: white;
        &:hover{
            background-color: rgb(58, 39, 228);
        }
    }
    .notfoundImagen{
        width: 40%;
        padding: 20px;
    }
    
}


/* FOOTER GENERAL*/
.footer{
    width: 100%;
    background-color: map-get($estilos, color);
    .grupo1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        .box {
            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: map-get($estilos, centro);
                align-items: map-get($estilos, centro);
                h1{
                    font-size: 3rem;
                    text-decoration: map-get($estilos, textDeco);
                    color: $color-textos;
                }
            }
            h2{
                color: $color-textos;
                margin-bottom: 25px;
                font-size: 1.5rem;
            }
            p{
                color: rgb(230, 219, 219);
                margin-bottom: 10px;
                text-decoration: none;
            } 
            a{
                text-decoration: none;
                p{
                    &:hover{
                        color: rgb(110, 110, 110);
                    
                    }
                }
                
            }
            
        }
        .red-social {
            a{
                display: flex;
                flex-direction: column;
                text-decoration: map-get($estilos, textDeco);
                color: $color-textos;
                margin-right: 10px;
                text-align: map-get($estilos, centro);
            }
        }
    }
    .derechos{
        background-color: rgb(58, 39, 228);
        padding: 15px 10px;
        text-align: map-get($estilos, centro);
        color: $color-textos;
        font-size: 15px;
    }
}


/* MEDIA QUERIES */
@media (max-width: 480px){
    /* IMAGEN PRINCIPAL INDEX MAX 480PX */
    #imagenFondo{
        background-image: url(../recursos/todaslasmarcas.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        display: grid;
        grid-template-areas:    
        "titulo"
        "texto";
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: $color-textos;
        margin: auto;
        #titulo {
            grid-area: titulo;
            font-size: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 50px;
        }
        #texto {
            grid-area: texto;
            font-size: 15px;
            justify-content: center;
            text-align: center;
            margin-top: -50px;
        }
    }
    /*NOSOTROS MAX 480PX */
    #imagenNosotros{
        background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        display: grid;
        grid-template-areas:    
        "titulo"
        "texto";
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: $color-textos;
        margin: auto;
        #titulo {
            grid-area: titulo;
            font-size: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 50px;
        }
        #texto {
            grid-area: texto;
            font-size: 15px;
            justify-content: center;
            text-align: center;
            margin-top: -50px;
        }
    }
    /*CAJAS DE PRODUCTOS MAX 480PX*/
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: 300px;
        width: 300px;
        text-align: center;
        background-color: $color-textos;
        overflow: hidden;
        .cajaCard__imagen{
            width: 100%;
            margin: 0 auto;
            object-fit: cover;
            object-position: center;
            padding: 0 0 30px 0;
            overflow: hidden;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            &:hover{
                transform: scale(1.3);
            }
        }
        .cajaCard__texto{
            text-align: center;
            font-size: 0.5rem;
        }
        h4{
            padding-top: 10px;font-size: 1.5rem;

        }
    }
}
@media (max-width: 767px){
    /* IMAGEN PRINCIPAL INDEX MAX 767PX */
    #imagenFondo{
        background-image: url(../recursos/todaslasmarcas.jpeg);
        background-size: cover;
        background-position: center;
        height: 400px;
        display: grid;
        grid-template-areas:    
        "titulo"
        "texto";
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: $color-textos;
        margin: auto;
        #titulo {
            grid-area: titulo;
            font-size: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 140px;
        }
        #texto {
            grid-area: texto;
            font-size: 15px;
            justify-content: center;
            text-align: center;
            margin-top: -60px;
        }
    }
    /*NOSOTROS MAX 767PX */
    #imagenNosotros{
        background-image: url(../recursos/abstract-colorful-background-free-vector.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        display: grid;
        grid-template-areas:    
        "titulo"
        "texto";
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: $color-textos;
        margin: auto;
        #titulo {
            grid-area: titulo;
            font-size: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 140px;
        }
        #texto {
            grid-area: texto;
            font-size: 15px;
            justify-content: center;
            text-align: center;
            margin-top: -60px;
        }
    }
    /*CAJAS DE PRODUCTOS MAX 767PX*/
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: 300px;
        width: 300px;
        text-align: center;
        background-color: $color-textos;
        overflow: hidden;
        .cajaCard__imagen{
            width: 100%;
            margin: 0 auto;
            object-fit: cover;
            object-position: center;
            padding: 0 0 30px 0;
            overflow: hidden;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            &:hover{
                transform: scale(1.3);
            }
        }
        .cajaCard__texto{
            text-align: center;
            font-size: 0.5rem;
        }
        h4{
            padding-top: 10px;font-size: 1.5rem;

        }
    }
    
    /*FOOTER*/
    .footer{
        .grupo1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }
    /*contacto card*/ 
    .cont{
        .contcard{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }
}
@media (max-width: 1079px) {
    /*cajas de productos MAX 1080*/
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: 500px;
        width: 400px;
        text-align: center;
        background-color: $color-textos;
        overflow: hidden;
        .cajaCard__imagen{
            width: 100%;
            margin: 0 auto;
            object-fit: cover;
            object-position: center;
            padding: 0 0 30px 0;
            overflow: hidden;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            &:hover{
                transform: scale(1.3);
            }
        }
        .cajaCard__texto{
            text-align: center;
            font-size: 1rem;
        }
        h4{
            padding-top: 10px;font-size: 1.5rem;

        }
    }
}
@media (min-width: 1080px) {
    .cajaCard{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: 550px;
        width: 500px;
        text-align: center;
        background-color: $color-textos;
        overflow: hidden;
        .cajaCard__imagen{
            width: 100%;
            margin: 0 auto;
            object-fit: cover;
            object-position: center;
            padding: 0 0 30px 0;
            overflow: hidden;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            &:hover{
                transform: scale(1.3);
            }
        }
        .cajaCard__texto{
            text-align: center;
            font-size: 15px;
        }
        h4{
            padding-top: 10px;
        }
    }
    /*CONTACTO*/ 
    .content{
        .contact-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            padding: 2em;
        }
        
    }
}
@media (min-width: 1440px){
    .contenedor {
        .card{
            width: 420px;
            height: 506px;
            padding: 60px 30px;
            margin: 20px;
            background-color: rgb(96, 72, 235);
            border-radius: 20px;
            .contenido{
                .contenidoImagen{
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    position: relative;
                    margin-bottom: 20px;
                    overflow: hidden;
                }
            }
        }
    }
}